//main: ../main.sass

body
  font-family: $font
  font-size: $fontSize
  color: $fontColor
  display: grid
  justify-items: center
  align-items: center
  width: 100vw
  height: 100vh
  margin: 0
  grid-template-rows: 20vw 1fr 10vw

p
  font-size: $tile/4

.board
  display: grid
  grid-template-columns: repeat(5,1fr)
  grid-template-rows: repeat(5,1fr)
  grid-gap: 2vw
  margin-bottom: 50px

.randomBtn
  position: relative
  bottom: 0px
  background: lightgray
  padding: 20px
  width: 100%
  height: 100%
  box-sizing: border-box

.grid
  display: grid

.row1
  grid-row: 1/2
  left: $tile+1vw
.row2
  grid-row: 2/3
  left: ($tile+1)/2
.row3
  grid-row: 3/4
  left: $tile - $tile
.row4
  grid-row: 4/5
  left: ($tile+1)/2
.row5
  grid-row: 5/6
  left: $tile+1vw

.tile
  z-index: 1
  position: relative
  width: $tile
  height: ($tile/2) + 2.5vw
  margin-top: $tile/5
  background: lightgray
  display: grid
  justify-content: center
  align-content: center
  &:before
    z-index: 1
    position: absolute
    top: (-$tile/6.1)
    right: 0
    content: ""
    border:
      right: $tile/2 solid transparent
      bottom: $tile/2/2 solid lightgray
      left: $tile/2 solid transparent
  &:after
    z-index: 1
    position: absolute
    bottom: (-$tile/6.1)
    right: 0
    content: ""
    border:
      right: $tile/2 solid transparent
      top: $tile/2/2 solid lightgray
      left: $tile/2 solid transparent

.seven
  display: none
.six,
.eight
    color: #bf6262

.center-self
  justify-self: center
  align-self: center

.center-content
  justify-content: center
  align-content: center

.number
  z-index: 3
  position: relative
  margin: 0

.circle
  display: grid
  z-index: 2
  content: ""
  position: relative
  background: darken(white,5%)
  padding: 0
  border-radius: 50%
  box-sizing: border-box
  width: 5vw
  height: 5vw

.field
  background: $field
  &:before
    border-bottom: 2.5vw solid $field
  &:after
    border-top: 2.5vw solid $field

.forest
  background: $forest
  &:before
    border-bottom: 2.5vw solid $forest
  &:after
    border-top: 2.5vw solid $forest

.pasture
  background: $pasture
  &:before
    border-bottom: 2.5vw solid $pasture
  &:after
    border-top: 2.5vw solid $pasture

.mountain
  background: $mountain
  &:before
    border-bottom: 2.5vw solid $mountain
  &:after
    border-top: 2.5vw solid $mountain

.hill
  background: $hill
  &:before
    border-bottom: 2.5vw solid $hill
  &:after
    border-top: 2.5vw solid $hill

.desert
  background: $desert
  &:before
    border-bottom: 2.5vw solid $desert
  &:after
    border-top: 2.5vw solid $desert
