body {
  font-family: "Roboto", "sans-serif";
  font-size: "14px";
  color: #333;
  display: grid;
  justify-items: center;
  align-items: center;
}

p {
  font-size: 1.5em;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
}

.randomBtn {
  position: absolute;
  bottom: 0px;
  background: lightgray;
  padding: 20px;
}

.row1 {
  grid-row: 1/2;
  left: 11vw;
}

.row2 {
  grid-row: 2/3;
  left: 5.5vw;
}

.row3 {
  grid-row: 3/4;
  left: 0vw;
}

.row4 {
  grid-row: 4/5;
  left: 5.5vw;
}

.row5 {
  grid-row: 5/6;
  left: 11vw;
}

.tile {
  position: relative;
  width: 10vw;
  height: 6vw;
  margin-top: 2vw;
  background: lightgray;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
}

.tile:before {
  position: absolute;
  top: -2.5vw;
  right: 0;
  content: "";
  border-right: 5vw solid transparent;
  border-bottom: 2.5vw solid lightgray;
  border-left: 5vw solid transparent;
}

.tile:after {
  position: absolute;
  bottom: -2.5vw;
  right: 0;
  content: "";
  border-right: 5vw solid transparent;
  border-top: 2.5vw solid lightgray;
  border-left: 5vw solid transparent;
}

[class="7 number"] {
  display: none;
}

[class="6 number"],
[class="8 number"] {
  color: #bf6262;
}

.field {
  background: #f0cb7a;
}

.field:before {
  border-bottom: 2.5vw solid #f0cb7a;
}

.field:after {
  border-top: 2.5vw solid #f0cb7a;
}

.forest {
  background: #69a15c;
}

.forest:before {
  border-bottom: 2.5vw solid #69a15c;
}

.forest:after {
  border-top: 2.5vw solid #69a15c;
}

.pasture {
  background: #adb576;
}

.pasture:before {
  border-bottom: 2.5vw solid #adb576;
}

.pasture:after {
  border-top: 2.5vw solid #adb576;
}

.mountain {
  background: #9caeb8;
}

.mountain:before {
  border-bottom: 2.5vw solid #9caeb8;
}

.mountain:after {
  border-top: 2.5vw solid #9caeb8;
}

.hill {
  background: #b08671;
}

.hill:before {
  border-bottom: 2.5vw solid #b08671;
}

.hill:after {
  border-top: 2.5vw solid #b08671;
}

.desert {
  background: #d4d1cf;
}

.desert:before {
  border-bottom: 2.5vw solid #d4d1cf;
}

.desert:after {
  border-top: 2.5vw solid #d4d1cf;
}
